@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-light-gray: #e6e6e6;
}

.shadow-yellow-sm {
  box-shadow: inset 0px 5px 0px var(--shadow-light-gray),
    0px 5px 0px hsl(28, 76%, 44%);
}
.shadow-yellow-md {
  box-shadow: inset 0px 8px 0px var(--shadow-light-gray),
    0px 8px 0px hsl(28, 76%, 44%);
}
.shadow-yellow-lg {
  box-shadow: inset 0px 10px 0px var(--shadow-light-gray),
    0px 10px 0px hsl(28, 76%, 44%);
}

.shadow-blue-sm {
  box-shadow: inset 0px 5px 0px var(--shadow-light-gray),
    0px 5px 0px hsl(228, 66%, 46%);
}
.shadow-blue-md {
  box-shadow: inset 0px 8px 0px var(--shadow-light-gray),
    0px 8px 0px hsl(228, 66%, 46%);
}
.shadow-blue-lg {
  box-shadow: inset 0px 10px 0px var(--shadow-light-gray),
    0px 10px 0px hsl(228, 66%, 46%);
}

.shadow-red-sm {
  box-shadow: inset 0px 5px 0px var(--shadow-light-gray),
    0px 5px 0px hsl(348, 75%, 35%);
}
.shadow-red-md {
  box-shadow: inset 0px 8px 0px var(--shadow-light-gray),
    0px 8px 0px hsl(348, 75%, 35%);
}
.shadow-red-lg {
  box-shadow: inset 0px 10px 0px var(--shadow-light-gray),
    0px 10px 0px hsl(348, 75%, 35%);
}
